---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const books = await getCollection("books");
---

<Layout title="Dev Books">
  <main>
    <h1 class="text-center text-7xl font-extrabold">
      Dev 😁
      <span class="block">Books</span>
    </h1>

    <section aria-label="Libros para devs">
      <div class="px-4 mx-auto max-w-screen-xl">
        <div class="grid gap-6 grid-cols-3 mt-4">
          {
            books.map((book) => {
              const obj = { spain: 1, argentina: 2 };
              return (
                <div class="card">
                  <a href={`/libro/${book.slug}`}>
                    <img src={book.data.img} alt={book.data.title} />
                  </a>
                  <div class="card-body">
                    <h2 class="card-title">{book.data.title}</h2>
                    <p class="card-text">{book.data.description}</p>
                    <p class="card-text">
                      Lectura en {book.data.readtime} minutos
                    </p>
                    <div class="flex gap-2">
                      {Object.entries(book.data.buy).map(([key, value]) => {
                        return (
                          <a
                            href={value}
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                          >
                            <span>
                              Comprar en{" "}
                              {key.charAt(0).toUpperCase() + key.slice(1)}
                            </span>
                          </a>
                        );
                      })}
                    </div>
                  </div>
                </div>
              );
            })
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
